<div class=" text-white">
  <div class="contenido">
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input type="email" formControlName="email" matInput placeholder="Correo electrónico">
        <mat-icon matSuffix>support_agent</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button type="submit" routerLink="" mat-raised-button color="accent">Ingresar</button>
      <span routerLink="/auth/clientes" class="mt-4">Ver lista de clientes</span>
    </form>
    <div class="img">
      <a target="_blank" href="https://www.instagram.com/skyteam_official_/"><img src="./assets/skyteam.png" alt=""></a>
    </div>
  </div>
</div>