<div mat-dialog-title>
  <h1>{{data ? 'Editar': 'Agregar'}} Patrocinador</h1>
</div>
<form [formGroup]="liderForm" (ngSubmit)="onFormSubmit()">
  <div class="content">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" type="text" placeholder="Nombre del Patrocinador">
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" type="text" placeholder="Apellido del Patrocinador">
        </mat-form-field>
      </div>

    </div>

  </div>
  <div class="content mb-4">
    <div class="d-flex justify-content-center">
      <button [disabled]="!liderForm.valid" class="btn btn-outline-light" type="submit">{{data ? 'Actualizar':
        'Guardar'}}
      </button>
      <button class="buton btn  btn-danger" type="button" [mat-dialog-close]="false">Cancelar
      </button>
    </div>
  </div>
</form>